/*doc
---
title: Clearfix
name: helpers
category: Helpers CSS
---

```html_example

```
*/ 

//Cargamos vars custom al proyecto
@import "../_components-custom/_site-vars.scss";

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
  }
  &:after {
    clear: both;
  }
}

/*doc
---
title: Texts
name: texts
category: Helpers CSS
---
```html_example
<div class="text-bold">Texto bold</div>

```
```html_example
<div class="text-regular">Texto regular</div>

```
```html_example
<div class="text-italic">Texto italic</div>

```
```html_example
<div class="text-caps">Texto caps</div>

```
```html_example
<div class="text-left">Texto left</div>

```
```html_example
<div class="text-center">Texto center</div>

```
```html_example
<div class="text-right">Texto right</div>

```
```html_example
<div class="text-nowrap">Texto nowrap</div>

```
```html_example
<div class="text-underline">Texto underline</div>

```
```html_example
<div class="text-truncate">Texto truncate</div>

```
*/ 

.text-bold, strong{ font-weight: bold; }

.text-regular{ font-weight: normal }

.text-italic{ font-style: italic }

.text-caps{ text-transform: uppercase }

.text-left{ text-align: left }

.text-center{ text-align: center }

.text-right{ text-align: right }

.text-nowrap{ white-space: nowrap }

.text-underline{ text-decoration: underline }

.text-underline-important { text-decoration: underline!important }

.text-truncate{
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap	
}

.text-decoration-none{ text-decoration: none }


//	--------------------------------------------------
//	Display
//  --------------------------------------------------

.inline       { display: inline!important;}
.block, .visible        {
	display: block;
	&--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			display: block;
		}
	}
	&--sm{
		@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			display: block;
		}
	}
//	&--md{
//		@media (min-width: $screen-md) and (max-width:$screen-lg-max) {
//			display: block;
//		}
//	}
//	&--lg{
//		@media (min-width: $screen-lg) and (max-width:$screen-xl) {
//			display: block;
//		}
//	}
//	&--xl{
//		@media (min-width: $screen-xl) {
//			display: block;
//		}
//	}

}
.inline-block.inline-block { display: inline-block }
.table.table        { display: table }
.table-cell.table-cell   { display: table-cell }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

.clearfix{
	@include clearfix()
}

.float-left  {
	float: left;
	&--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			float: left;
		}
	}
	&--sm{
		@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			float: left;
		}
	}
//	&--md{
//		@media (min-width: $screen-md) and (max-width:$screen-lg-max) {
//			float: left;
//		}
//	}
//	&--lg{
//		@media (min-width: $screen-lg) and (max-width:$screen-xl) {
//			float: left;
//		}
//	}
//	&--xl{
//		@media (min-width: $screen-xl) {
//			float: left;
//		}
//	}
}
.float-right {
	float: right;
	&--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			float: left;
		}
	}
	&--sm{
		@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			float: left;
		}
	}
//	&--md{
//		@media (min-width: $screen-md) and (max-width:$screen-lg-max) {
//			float: left;
//		}
//	}
//	&--lg{
//		@media (min-width: $screen-lg) and (max-width:$screen-xl) {
//			float: left;
//		}
//	}
//	&--xl{
//		@media (min-width: $screen-xl) {
//			float: left;
//		}
//	}
}

.float-clear  {
	float: none;
	&--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			float: none;
		}
	}
	&--sm{
		@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			float: none;
		}
	}
//	&--md{
//		@media (min-width: $screen-md) and (max-width:$screen-lg-max) {
//			float: left;
//		}
//	}
//	&--lg{
//		@media (min-width: $screen-lg) and (max-width:$screen-xl) {
//			float: left;
//		}
//	}
//	&--xl{
//		@media (min-width: $screen-xl) {
//			float: left;
//		}
//	}
}


.hidden.hidden{
	display: none ;
}

	.hidden--xs.hidden--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			display: none ;
		}
	}
	.hidden--sm.hidden--sm{
		@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			display: none ;
		}
	}
//	&--md{
//		@media (min-width: $screen-md) and (max-width:$screen-lg-max) {
//			float: left;
//		}
//	}
//	&--lg{
//		@media (min-width: $screen-lg) and (max-width:$screen-xl) {
//			float: left;
//		}
//	}
//	&--xl{
//		@media (min-width: $screen-xl) {
//			float: left;
//		}
//	}


.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0	
}


//	--------------------------------------------------
//	Align
//  --------------------------------------------------

.align-baseline { vertical-align: baseline }
.align-top      { vertical-align: top }
.align-middle   { vertical-align: middle }
.align-bottom   { vertical-align: bottom }


//	--------------------------------------------------
//	Margins
//  --------------------------------------------------

.m0.m0  { margin:        0 }
.mt0.mt0 { margin-top:    0 }
.mr0.mr0 { margin-right:  0 }
.mb0.mb0 { margin-bottom: 0 }
.ml0.ml0 { margin-left:   0 }

.mb1.mb1 {
	margin-bottom: $margin1;
	//Reseteamos el margen del elemento interior para evitar tener margenes dobles.
	> *:last-child {
		margin-bottom: 0;
	}
	
	&--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			margin-bottom: $margin1;
		}
	}
	&--sm{
		@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			margin-bottom: $margin1;
		}
	}
//	&--md{
//		@media (min-width: $screen-md) and (max-width:$screen-lg-max) {
//			margin-bottom: $margin1;
//		}
//	}
//	&--lg{
//		@media (min-width: $screen-lg) and (max-width:$screen-xl) {
//			margin-bottom: $margin1;
//		}
//	}
//	&--xl{
//		@media (min-width: $screen-xl) {
//			margin-bottom: $margin1;
//		}
//	}
}

.mb2.mb2 {
	margin-bottom: $margin2;
	//Reseteamos el margen del elemento interior para evitar tener margenes dobles.
	> *:last-child {
		margin-bottom: 0;
	}
	
	&--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			margin-bottom: $margin2;
		}
	}
	&--sm{
		@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			margin-bottom: $margin2;
		}
	}
//	&--md{
//		@media (min-width: $screen-md) and (max-width:$screen-lg-max) {
//			margin-bottom: $margin2;
//		}
//	}
//	&--lg{
//		@media (min-width: $screen-lg) and (max-width:$screen-xl) {
//			margin-bottom: $margin2;
//		}
//	}
//	&--xl{
//		@media (min-width: $screen-xl) {
//			margin-bottom: $margin2;
//		}
//	}
}

.mb3.mb3 {
	margin-bottom: $margin3;
	//Reseteamos el margen del elemento interior para evitar tener margenes dobles.
	> *:last-child {
		margin-bottom: 0;
	}
		
	&--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			margin-bottom: $margin3;
		}
	}
	&--sm{
		@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			margin-bottom: $margin3;
		}
	}
//	&--md{
//		@media (min-width: $screen-md) and (max-width:$screen-lg-max) {
//			margin-bottom: $margin3;
//		}
//	}
//	&--lg{
//		@media (min-width: $screen-lg) and (max-width:$screen-xl) {
//			margin-bottom: $margin3;
//		}
//	}
//	&--xl{
//		@media (min-width: $screen-xl) {
//			margin-bottom: $margin3;
//		}
//	}
}
.mb2 {
	margin-bottom: $margin2;
}
.mb4.mb4 {
	margin-bottom: $margin4;
	//Reseteamos el margen del elemento interior para evitar tener margenes dobles.
	> *:last-child {
		margin-bottom: 0;
	}
	
	&--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			margin-bottom: $margin4;
		}
	}
	&--sm{
		@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			margin-bottom: $margin4;
		}
	}
//	&--md{
//		@media (min-width: $screen-md) and (max-width:$screen-lg-max) {
//			margin-bottom: $margin4;
//		}
//	}
//	&--lg{
//		@media (min-width: $screen-lg) and (max-width:$screen-xl) {
//			margin-bottom: $margin4;
//		}
//	}
//	&--xl{
//		@media (min-width: $screen-xl) {
//			margin-bottom: $margin4;
//		}
//	}
}


.mb5.mb5 {
	margin-bottom: $margin5;
	//Reseteamos el margen del elemento interior para evitar tener margenes dobles.
	> *:last-child {
		margin-bottom: 0;
	}
	
	&--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			margin-bottom: $margin5;
		}
	}
	&--sm{
		@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			margin-bottom: $margin5;
		}
	}
//	&--md{
//		@media (min-width: $screen-md) and (max-width:$screen-lg-max) {
//			margin-bottom: $margin5;
//		}
//	}
//	&--lg{
//		@media (min-width: $screen-lg) and (max-width:$screen-xl) {
//			margin-bottom: $margin5;
//		}
//	}
//	&--xl{
//		@media (min-width: $screen-xl) {
//			margin-bottom: $margin5;
//		}
//	}
}


.m-auto { margin-left: auto; margin-right: auto; }

.mb5{
	&--xs{
		@media (min-width: $screen-xs) and (max-width:$screen-sm-max) {
			margin-bottom: $margin5;
		}
	}	
}

//	--------------------------------------------------
//	Positions
//  --------------------------------------------------
.initial { position: initial }
.relative { position: relative }
.absolute { position: absolute }
.fixed    { position: fixed;
		
		&--bottom{
			width: 100%;
			bottom:0;
		}
	
	 }
.sticky    { position: -webkit-sticky; position: sticky }

/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off {
	position: static;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
	position: fixed;
}
.fixedsticky-dummy {
	display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
	display: block;
}

//	--------------------------------------------------
//	Img
//  --------------------------------------------------
.img-responsive{
	width: 100%;
	max-width: 100%;
	height: auto;
}

//	--------------------------------------------------
//	Responsive iframes
//  --------------------------------------------------
.embed-responsive{
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	&__item{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0		
	}
	
	&--16-9{
		
		padding-bottom: 75%
	}
	
}


//	--------------------------------------------------
//	Sameheight
//  --------------------------------------------------


.same-height{
	display: flex;
	flex-wrap: wrap;
	.same-height__item{
		display: flex;
	}
}


.content-video-hd{
	padding-bottom: 56.25%; /* 16:9 */
}


.row{	

	[class*='col-']{
		flex: 0 0 auto;

	}
}

