//	----------------------------------------------------------------------------------------------------
//
//	 Ajustes de página de ejemplo, reemplazar por bloque real
//
//  ----------------------------------------------------------------------------------------------------

header{
	background: #eee;
	margin-bottom: 60px;
	img{
		&.logo{
			max-width: 200px;
		}
	}
}


.mb-25 {
  margin-bottom: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}
