/*doc
---
title: Type
name: type
category: Components Type
---

Titulares Display / Banners

```html_example

<span class="h1-display">Titulo Display H1</span>
<span class="h2-display">Titulo Display H2</span>
<span class="h3-display">Titulo Display H3</span>
<span class="h4-display">Titulo Display H4</span>
<span class="h5-display">Titulo Display H5</span>
<span class="h6-display">Titulo Display H6</span>

```


Titulares

```html_example

<span class="h1">Titulo texto H1</span>
<span class="h2">Titulo texto H2</span>
<span class="h3">Titulo texto H3</span>
<span class="h4">Titulo texto H4</span>
<span class="h5">Titulo texto H5</span>
<span class="h6">Titulo texto H6</span>

```

Texto destacado / entradilla

```html_example
<p class="lead">lorem ipsum dolor sit amet</p>
```


Texto corrido

```html_example
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper nibh at metus hendrerit pretium. Phasellus eu suscipit nulla. Praesent eros mi, fringilla sit amet luctus quis, suscipit ut justo. Fusce <a href="#" class="link link--1">link primary</a> urna eu tristique. Duis et rhoncus nisl. Phasellus massa ligula, finibus ac odio non, <em>suscipit sagittis diam</em>. Sed sit amet <abbr>augue justo</abbr>. Duis condimentum risus id orci 
<strong>Bold text</strong> ac massa placerat accumsan. Quisque placerat ut neque id pretium. Aliquam eu ligula nec nibh vestibulum dictum blandit at sapien. Fusce egestas nisl quis eros aliquam, vel pulvinar justo aliquet. Aenean tincidunt, risus nec congue vehicula, metus libero viverra justo, ac cursus eros nulla non mi</p>
```

Texto small

```html_example
<small>lorem ipsum dolor sit amet</small>

```

*/ 
