.icon-big-arrow-left { background-image: url('ie8-icon/big-arrow-left.png'); background-repeat: no-repeat; }

.icon-big-arrow-right { background-image: url('ie8-icon/big-arrow-right.png'); background-repeat: no-repeat; }

.icon-bike { background-image: url('ie8-icon/bike.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('ie8-icon/camera.png'); background-repeat: no-repeat; }

.icon-car { background-image: url('ie8-icon/car.png'); background-repeat: no-repeat; }

.icon-castle { background-image: url('ie8-icon/castle.png'); background-repeat: no-repeat; }

.icon-cloud { background-image: url('ie8-icon/cloud.png'); background-repeat: no-repeat; }

.icon-cut_contract { background-image: url('ie8-icon/cut_contract.png'); background-repeat: no-repeat; }

.icon-dress { background-image: url('ie8-icon/dress.png'); background-repeat: no-repeat; }

.icon-drone { background-image: url('ie8-icon/drone.png'); background-repeat: no-repeat; }

.icon-ff { background-image: url('ie8-icon/ff.png'); background-repeat: no-repeat; }

.icon-friends { background-image: url('ie8-icon/friends.png'); background-repeat: no-repeat; }

.icon-inbox { background-image: url('ie8-icon/inbox.png'); background-repeat: no-repeat; }

.icon-investment { background-image: url('ie8-icon/investment.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('ie8-icon/logo.png'); background-repeat: no-repeat; }

.icon-mansion { background-image: url('ie8-icon/mansion.png'); background-repeat: no-repeat; }

.icon-rocket { background-image: url('ie8-icon/rocket.png'); background-repeat: no-repeat; }

.icon-selection { background-image: url('ie8-icon/selection.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('ie8-icon/twitter.png'); background-repeat: no-repeat; }

