/*doc
---
title: Block Example
name: block-example
category: Blocks
---

Descripción bloque y su uso si tiene algún modificador, JS, etc

```html_example

HTML

```

```

Código include


```

*/ 


main	{
	clear: both;
	
}

